/* site.css */
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo {
    color: var(--accent-color);
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

    .navbar__menu li {
        padding: 8px 12px;
    }

        .navbar__menu li:hover {
            background-color: var(--accent-color);
            border-radius: 4px;
        }

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

    .navbar__icons li {
        padding: 8px 12px;
    }

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 15px;
    font-size: 18px;
    color: var(--accent-color);
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

        .navbar__menu li {
            width: 100%;
            text-align: center;
        }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}

<style >
.small-image {
    max-width: 100px; /* Set the maximum width you desire */
    height: auto; /* Maintain aspect ratio */
}

</style >

