
<link href="~/css/site.css" rel="stylesheet" />
<header class="relative bg-cover bg-center py-32" src=" ~ /image/haircut.jpeg";">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container relative mx-auto text-white px-6 md:px-12">
        <h1 class="text-6xl font-bold">Hobby of Haircutting</h1>
        <p class="mt-2 text-3xl">
            <br />
            This website is about my hobby, haircutting and tutoring my skill
            <br />
            <br />
            A great haircut can dramaticallly transform a person's image, enhancing their features and boosting their confidence, making them appear more polished and rejuvenated
            <br />
        </p>
        <br /><a href="~/Home/Calculator" class="mt-4 inline-block bg-white text-black py-3 px-6 rounded-lg uppercase tracking-wider font-semibold text-sm">Tutoring</a>
    </div>
</header>

<div class="content">
    <section class="py-12">
        <div class="container mx-auto px-6 md:px-12">
            <h2 class="text-4xl font-bold text-center mb-8 text-gray-800">About</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

                <div class="flex flex-col overflow-hidden rounded-lg shadow-lg items-stretch h-auto bg-gray-700 text-white p-4">
                    <p class="text-start text-2xl flex-grow">
                        <strong>Hair Analysis</strong><br><br />
                        <em>Understanding Hair Types:</em> Recognizing different hair types (fine, thick, curly, straight) and textures to determine the most flattering and manageable cuts.<br>
                        <em>Scalp and Hair Health Knowledge:</em> Identifying scalp issues or hair health problems that might affect the haircut or styling process.
                    </p>
                </div>

                <div class="flex flex-col overflow-hidden rounded-lg shadow-lg items-stretch h-auto bg-gray-700 text-white p-4">
                    <p class="text-start text-2xl flex-grow">
                        <strong>Cutting Techniques</strong><br><br />
                        <em>Precision Cutting:</em> Mastering straight, layered, and graduated cuts with accuracy and consistency.<br>
                        <em>Clipper Use:</em> Skilled use of clippers for short hairstyles, fades, and undercuts, including handling different guard sizes.<br>
                        <em>Scissor Handling:</em> Expertise in using various types of scissors (such as texturizing shears) for cutting and thinning hair.
                    </p>
                </div>

                <div class="flex flex-col overflow-hidden rounded-lg shadow-lg items-stretch h-auto bg-gray-700 text-white p-4">
                    <p class="text-start text-2xl flex-grow">
                        <strong>Styling Skills</strong><br><br />
                        <em>Blow-Drying and Heat Styling:</em> Techniques for blow-drying, using curling irons, flat irons, and other heat-styling tools to create desired looks.<br>
                        <em>Updos and Braiding:</em> Crafting elegant updos, braids, and other styles for special occasions.
                    </p>
                </div>

            </div>
        </div>
    </section>




    <section class="py-12">
        <div class="container mx-auto px-6 md:px-12">
            <h2 class="text-4xl font-bold text-center mb-8">Gallery</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

                <div class="overflow-hidden rounded-lg shadow-lg flex justify-center items-center h-20">
                    <!-- Adjust height as needed -->
                    <p class="text-center text-2xl">Front</p>
                </div>

                <div class="overflow-hidden rounded-lg shadow-lg flex justify-center items-center h-20">
                    <!-- Adjust height as needed -->
                    <p class="text-center text-2xl">Side</p>
                </div>

                <div class="overflow-hidden rounded-lg shadow-lg flex justify-center items-center h-20">
                    <!-- Adjust height as needed -->
                    <p class="text-center text-2xl">Back</p>
                </div>


                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img src="~/image/kakaotalk_20240208_204705919.jpg" alt="After haircut" class="w-full h-200">
                </div>
                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img src="~/image/kakaotalk_20240208_204705919_01.jpg" alt="After haircut" class="w-full h-200">
                </div>
                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img src="~/image/kakaotalk_20240208_204705919_02.jpg" alt="After haircut" class="w-full h-200">
                </div>
                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img src="~/image/kakaotalk_20240208_204705919_03.jpg" alt="After haircut" class="w-full h-200">
                </div>
                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img src="~/image/kakaotalk_20240208_204705919_04.jpg" alt="After haircut" class="w-full h-200">
                </div>
                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img src="~/image/kakaotalk_20240208_204705919_05.jpg" alt="After haircut" class="w-full h-200">
                </div>

            </div>
        </div>
    </section>
</div>





